:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Manrope", sans-serif;
  --font-weight: 400;

  --premium-pink: #e43071;
  --grey-copy: #424242;
  --pink-subtle: #ffdae7;
  --pink-hover: #be285e;
  --dark-disabled: #d37899;
  --light-grey: #f2f3f8;
  --light: #fff;
}
